name: Python CI

on:
  pull_request:
    branches:
      - "**"
  # This is so we can call CI locally from other workflows that might want to
  # run CI before doing whatever task they're doing.  Like the release workflow.
  workflow_call:

defaults:
  run:
    working-directory: "./backend"

jobs:
  run_tests:
    name: tests
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest]
        python-version: ["3.12"]
        toxenv: [quality, docs, pii_check, django52]
    steps:
      - uses: actions/checkout@v4
      - name: setup python
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install pip
        run: pip install -r requirements/pip.txt

      - name: Install Dependencies
        run: pip install -r requirements/ci.txt

      - name: Run Tests
        env:
          TOXENV: ${{ matrix.toxenv }}
        run: tox

      - name: Run coverage
        if: matrix.python-version == '3.12' && matrix.toxenv == 'django52'
        uses: codecov/codecov-action@v4
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          flags: unittests
          fail_ci_if_error: true
          working-directory: "./backend"
